<div>
<h1>Learnosity SDK Examples</h1>
<p>This example site doesn't make requests to any Learnosity API. It simply
creates initialisation objects for you that you could use to initialise
any of the Learnosity APIs.</p>
<p>Choose an example from the list below to see the initialisation object,
review the relevant file in the <em>services</em> directory to see how
the SDK was used:</p>
<ul>
    <li><a href="/JS/Assess">Assess</a></li>
    <li>Author
        <ul>
            <li><a href="/JS/Author?mode=item_edit">Author - Item Edit</a></li>
            <li><a href="/JS/Author?mode=item_list">Author - Item List</a></li>
        </ul>
    </li>
    <li>Data
        <ul>
            <li><a href="/Remotes/Data">Data</a></li>
            <li><a href="/Remotes/DataApi">DataApi</a></li>
            <li><a href="/Remotes/DataApiRecursive">DataApiRecursive</a></li>
            <li><a href="/Remotes/DataApiRecursive?maxIterations=3&noCallback=true">DataApiRecursive (no callback and only 3 iterations)</a></li>
        </ul>
    </li>
    <li><a href="/JS/Items">Items</a></li>
    <li><a href="/JS/Questions">Questions</a></li>
    <li><a href="/JS/Reports">Reports</a></li>
    <li><a href="/Remotes/Schemas">Schemas</a></li>
</ul>
</div>