@page
@model IndexModel
@{
    ViewData["Title"] = "Learnosity Quick Start Guide";
}

<div>
    <h1 class="display-4">Learnosity Quick Start Guide</h1>
    <br />
    <p>Click to load: <ul><li><a asp-area="" asp-page="/ItemsAPIDemo">Items API Demo (Standalone Assessment)</a></li></ul></p>
    <br />
    <br />
    <p>For instructions, see the tutorial for this project in the <a href="https://github.com/Learnosity/learnosity-sdk-asp.net/blob/master/readme.md" target="_new"> README file.</a></p>
    <p>For a list of features, see the <a href="https://github.com/Learnosity/learnosity-sdk-asp.net/blob/master/reference.md" target="_new"> REFERENCE file.</a></p>

</div>
